<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<nav th:replace="fragments/navigation :: navbar"></nav>
    <nav>
        <a href="/attractions">
            <button>Tourist attractions overview</button>
        </a>
        <a href="/attractions/createNewAttraction">
            <button>Add new tourist attraction</button> </a><!-- redirect to form page -->
    </nav>

<div class="container">

    <main class="welcome-box">

<h1>Welcome to 'The TouristGuide'</h1>
<p>Your guide to the capital of Denmark, Copenhagen.
<p>Here you can expect to find suggestions for your visit.</p>
    Hidden gems, public tourist attractions and more.
</p>
    </main>
</div>


<p>
<footer>
    <p>Contact: coming soon! </p>
</footer>
</html>
