<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Tourist Attraction</title>
    <link rel="stylesheet" th:href="@{/css/form.css}">
</head>
<body>
<nav th:replace="fragments/navigation :: navbar"></nav>

<header>
    <h1>Edit this attraction</h1>
</header>
<!-----------------------NAME---------------------------------->
<form th:action="@{/attractions/addNewAttraction}" th:method="post" th:object="${attraction}" >
    <label>Name:</label>
    <input type="text" th:field="*{name}" id="name" required><br>

    <!------------------------DESCRIPTION--------------------------------->
    <label for="description">description:</label>
    <textarea rows="4" cols="30" th:field="*{description}" id="description" required></textarea><br>

    <!-------------------CITY-------------------------------------->
    <label for="city"> City:</label>
    <input type="text" th:field="*{city}" id="city" required><br>


    <!---------------------TAGS------------------------------------>
    <label>Tags:</label>
    <div th:each="tag : ${publishedTags}">
        <input type="checkbox" th:field="*{tags}" th:value="${tag}" id="${'tag-' + tag}"/>
        <label th:text="${tag}" th:for="${'tag-' + tag}" ></label><br>
    </div>

    <!-----------------SUBMIT---------------------------------------->
    <button type="submit" value="Save">Submit</button>
    <a href="/attractions" th:href="@{/attractions}">Return</a>
</form>
</body>
</html>