<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tags</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/css/tags.css}">
</head>
<header>
    <h1>
        <a th:text="|${att.name}'s tags|"></a>
    </h1>
</header>
<nav th:replace="fragments/navigation :: navbar"></nav>
<div class="container">
    <main>
        <ul th:each="tag : ${att.tags}">
            <li th:text="${tag}"></li>
        </ul>
        <div class="button">
            <a th:href="@{/attractions}">
                <button type="button">Back</button>
            </a>
        </div>
    </main>
</div>
</head>

</html>